.work-card
    margin-left: 20px
    width: 225px
    height: 100%
    background: #F1F9FF
    padding-left: 12px
    padding-top: 12px
    padding-bottom: 12px
    padding-right: 5px
    margin-top: 30px
    h3 
        color: #2699FB
        margin-top: 0
    span 
        color: #2699FB
        font-weight: 700
        font-size: 12px
    p 
        color: #2699FB
        overflow-wrap: break-word
        font-size: 12px
        margin-top: 10px
        margin-bottom: 10px
    i 
        color: #2699FB
        cursor: pointer
    &__dark 
        background: #191E23
.control-buttons
    display: flex
    font-size: 2rem
    justify-content: flex-end
    align-items: flex-end