#nav 
    padding: 12px 0
    
#nav-logo 
    padding: 0
#nav-link 
    color: #000
    font-weight: bold
// .hero 
//     background: linear-gradient(to right, #FCA653 50%, #FFAF00 50%)
#banner 
    position: relative
    padding: 0!important
    >* 
        font-size: 100%
    img 
        min-height: 190px
        
//     background-image: url("../img/cat.png")
//     background-size: contain
//     background-repeat: no-repeat

#banner_title 
    position: absolute
    top: 10px
    left: 10px
    @media (min-width: 768px)
        top: 30%
        left: 20%